.user {
  &-checkbox[type="checkbox"] {
    display: none;
    & + label {
      all: unset;
      width: 32px;
      margin-right: 37px;
      margin-top: 40px;
      height: 32px;
      background: #d9d9d9;
      border-radius: 2px;
    }
    &:checked + label {
      background-color: black;
    }
  }
  &-admin {
    display: flex;
    justify-content: center;
    width: 100vw;
    &-item {
      all: unset;
      display: flex;
      margin-right: 32px;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      text-decoration-line: underline;
      &:disabled {
        color: #c4c4c4;
      }
    }
  }
  &-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 259px;
    padding: 14px 20px;
    gap: 10px;
    margin-right: 890px;
    background: #f2f2f2;
    border: none;
    &:focus {
      outline-color: #aa93ec;
    }
  }
  &-label {
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-top: 20px;
    justify-content: center;
    border-color: white;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      margin: 1px;
      height: 62px;
      &.number {
        width: 87px;
      }
      &.id {
        width: 170px;
      }
      &.name {
        width: 147px;
      }
      &.joinDate {
        width: 163px;
      }
      &.profilePhoto {
        width: 221px;
      }
      &.email {
        width: 357px;
      }
      &.phoneNumber {
        width: 223px;
      }
      &.userState {
        width: 163px;
      }
    }
  }
  &-info {
    display: flex;
    justify-content: center;
    height: 110px;
    color: #000000;
    margin-right: 35px;
    &-item {
      display: flex;
      background: #f2f2f2;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      margin: 1px;
      &.number {
        width: 87px;
        background-color: black;
        color: white;
      }
      &.id {
        width: 170px;
      }
      &.name {
        width: 147px;
      }
      &.joinDate {
        width: 163px;
      }
      &.profilePhoto {
        width: 221px;
      }
      &.email {
        width: 357px;
      }
      &.phoneNumber {
        width: 223px;
      }
      &.userState {
        width: 163px;
      }
    }
  }
}
.userTitle {
  margin-top: 54px;
  margin-left: -1465px;
  margin-bottom: 16px;
  width: 79px;
  height: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  &-Wrapper {
    display: flex;
    justify-content: center;
  }
}
#profile {
  width: 102px;
  height: 102px;
}
.arrow-left {
  width: 40px;
  height: 40px;
}
.arrow-right {
  width: 40px;
  height: 40px;
}
.pagination {
  display: flex;
  justify-content: center; /*세로방향 가운데 정렬*/
  height: 36px;
  margin: 492px 0px 30px 0px;

  & button {
    all: unset;
    padding: 0 20px;
    margin: 0 20px;
    width: 15px;
    height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #8a8a8a;
    border: none;
    &.active {
      color: black;
    }
  }
}
